aws_region                     = "us-east-1"
project                        = "poker777"
environment                    = "prod"
availability_zones             = ["us-east-1a", "us-east-1b"]
vpc_cidr                       = "10.40.0.0/16"
public_subnet_cidrs            = ["10.40.0.0/24", "10.40.1.0/24"]
private_app_subnet_cidrs       = ["10.40.10.0/24", "10.40.11.0/24"]
private_data_subnet_cidrs      = ["10.40.20.0/24", "10.40.21.0/24"]
site_domain                    = ""
route53_zone_id                = ""
acm_certificate_arn            = "arn:aws:acm:us-east-1:771350532141:certificate/replace-me"
backend_secret_arn             = "arn:aws:secretsmanager:us-east-1:771350532141:secret:poker777/prod/backend-replace-me"
backend_image_tag              = "release-2026-09-28"
frontend_image_tag             = "release-2026-09-28"
db_engine_version              = "8.0.0"
db_parameter_group_family      = "mysql8.0"
redis_engine_version           = "7.1"
frontend_min_size              = 0
frontend_desired_capacity      = 0
frontend_max_size              = 4
frontend_instance_profile_name = "LabInstanceProfile"
backend_instance_profile_name  = "LabInstanceProfile"
backend_min_size               = 0
backend_desired_capacity       = 0
backend_max_size               = 4
db_writer_multi_az             = false
db_deletion_protection         = true
alert_email                    = "example@gmail.com"